html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.product-image {
    width: 200px; 
    height: 200px;
    align-self:center;
}

.cart-icon {
    margin-right: 10px; /* Adjust margin as needed */
}

    .cart-icon a {
        color: #333; /* Adjust color as needed */
        text-decoration: none;
    }

        .cart-icon a:hover {
            color: #555; /* Adjust hover color as needed */
        }
