@page
@*@model NotificationsModel
@{
    ViewData["Title"] = "Notifications";
}*@
@*
<h2>Notifications</h2>

<ul id="notificationList">
    <!-- Notifications will be dynamically added here -->
</ul>

<script>
    connection.on("ReceiveNotification", function (message) {
        var notificationList = document.getElementById("notificationList");
        var li = document.createElement("li");
        li.textContent = message;
        notificationList.appendChild(li);
    });
</script>
*@